
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Cinema</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">    
    <link rel="stylesheet" href="css/adicionar_filme.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Atualizar Cinema</h1>
        <form action="/atualizar_cinema" method="POST">
            <div class="mb-3">
                <label for="nome_atual" class="form-label">Selecione o cinema atual</label>
                <select name="nome_atual" id="nome_atual" class="form-select" required>
                    <option value="" disabled selected>Escolha um cinema</option>
                    {{#each cinemas}}
                        <option value="{{this.nome}}">{{this.nome}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="mb-3">
                <label for="novo_nome" class="form-label">Novo Nome</label>
                <input type="text" name="novo_nome" id="novo_nome" class="form-control" placeholder="Digite o novo nome">
            </div>

            <div class="mb-3">
                <label for="local" class="form-label">Novo Local</label>
                <input type="text" name="local" id="local" class="form-control" placeholder="Digite o novo local">
            </div>

            <div class="mb-3">
                <label for="capacidade" class="form-label">Nova Capacidade</label>
                <input type="number" name="capacidade" id="capacidade" class="form-control" placeholder="Digite a nova capacidade">
            </div>

            <button type="submit" class="btn btn-primary">Atualizar Cinema</button>
            <a href="/cinemas" class="btn btn-secondary">Voltar</a>
        </form>
        {{#if success_msg}}
            <div style="color: green; font-weight: bold;">
                {{success_msg}}
                <br><br><br>
            </div>
        {{/if}}

        {{#if error_msg}}
            <div style="color: red; font-weight: bold;">
                {{error_msg}}
                <br><br><br>
            </div>
        {{/if}}
    </div>
</body>
