<head>
    <link rel="stylesheet" href="css/adicionar_filme.css">
</head>
<body>
    <div class="container">
        <br><br>
        <h2>Atualizar dados do filme</h2>
        <form action="/atualizar_filmes" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titulo_atual" class="form-label">Nome do Filme Atual:</label>
                <select id="titulo_atual" name="titulo_atual" class="form-control" required>
                    <option value="">Selecione o filme</option>
                    {{#each filmes}}
                        <option value="{{this.titulo}}">{{this.titulo}}</option>
                    {{/each}}
                </select>            
            </div>
            
            <div class="form-group">
                <label for="novo_titulo" class="form-label">Novo Título:</label>
                <input type="text" id="novo_titulo" name="novo_titulo" class="form-control" placeholder="Digite o novo título" required>
            </div>

            <div class="form-group">
                <label for="duracao" class="form-label">Duração (em minutos):</label>
                <input type="number" id="duracao" name="duracao" class="form-control" placeholder="Ex: 120" required>
            </div>

            <div class="form-group">
                <label for="classificacao" class="form-label">Classificação Etária:</label>
                <input type="text" id="classificacao" name="classificacao" class="form-control" placeholder="Ex: 14 anos" required>
            </div>

            <div class="form-group">
                <label for="genero" class="form-label">Gênero:</label>
                <input type="text" id="genero" name="genero" class="form-control" placeholder="Ex: Ação, Comédia" required>
            </div>

            <div class="form-group">
                <label for="data_lancamento" class="form-label">Data de Lançamento:</label>
                <input type="date" id="data_lancamento" name="data_lancamento" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="foto" class="form-label">Nova Foto do Filme:</label>
                <input type="file" id="foto" name="foto" class="form-control">
            </div>

            <button type="submit">Atualizar Filme</button>
            <br><br>
        </form>

        <a href="/filmes" class="button">Cancelar</a>
        <br><br>
        <a href="" class="btn btn-secondary">Voltar para o perfil</a>
    </div>

    {{#if success_msg}}
        <div style="color: green; font-weight: bold;">
            {{success_msg}}
            <br><br><br>
        </div>
    {{/if}}

    {{#if error_msg}}
        <div style="color: red; font-weight: bold;">
            {{error_msg}}
            <br><br><br>
        </div>
    {{/if}}
</body>
