<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Seja Bem-vindo à nossa Bilheteira</h1>
        <p>Escolha uma das opções abaixo para começar a comprar seus ingressos ou explorar filmes!</p>
        

        <a href="/filmes" class="button">Ver Filmes</a>
        <a href="" class="button">Ver Sessões</a>
        <a href="" class="button">Comprar alimento</a>
        <a href="/perfil" class="button">Ver perfil</a>
            
    </div>
</body>