<head>
    <link rel="stylesheet" href="css/adicionar_filme.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required placeholder="Digite seu e-mail">
            </div>
            <br>

            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
            </div>
            <br>

            <div class="form-group">
                <button type="submit">Entrar</button>
            </div>
        </form>

        {{#if success_msg}}
            <div style="color: green; font-weight: bold;">
                {{success_msg}}
                <br><br><br>
            </div>
        {{/if}}

        {{#if error_msg}}
            <div style="color: red; font-weight: bold;">
                {{error_msg}}
                <br><br><br>
            </div>
        {{/if}}

            <p>Não tem uma conta? <a href="/cadastrar">Cadastre-se</a></p>
            <a href="/">Cancelar</a>
        </div>
</body>