<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilheteria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Seja Bem-vindo à nossa Bilheteira</h1>
        <p>Escolha uma das opções abaixo para começar a comprar seus ingressos ou explorar filmes!</p>
    
        <a href="/adicionar_filmes" class="button">Adicionar Filmes</a>
        <a href="/cadastrar" class="button">Cadastrar-se</a>
    </div>
</body>
</html>
